# Functions,List, Tuple and Dictionary

## Functions

You’re already familiar with the print(), input(), and len() functions from the previous chapters. Python provides several builtin functions like these, but you can also write your own functions. A function is like a mini-program within a program.

To better understand how functions work, let’s create one.

In [40]:
def least_difference(a, b, c):
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return min(diff1, diff2, diff3)

This creates a function called least_difference, which takes three arguments, a, b, and c.

Functions start with a header introduced by the **def** keyword. The indented block of code following the **:** is run when the function is called.

**return** is another keyword uniquely associated with functions. When Python encounters a return statement, it exits the function immediately, and passes the value on the right hand side to the calling context.

Is it clear what *least_difference()* does from the source code? If we're not sure, we can always try it out on a few examples:

In [46]:
print(least_difference(1, 10, 100),
    least_difference(1, 10, 10),
    least_difference(5, 6, 7),sep='\n'
    # Python allows trailing commas in argument lists. How nice is that?
)

9
0
1

In [42]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Or maybe the help() function can tell us something about it.

In [3]:
help(least_difference)

Help on function least_difference in module __main__:

least_difference(a, b, c)

Lets check with another example

In [4]:
def mod_5(x):
    """Return the remainder of x after dividing by 5""" #docstring
    return x % 5

print(
    'Which number is biggest?',
    max(100, 51, 14),
    'Which number is the biggest modulo 5?',
    max(100, 51, 14, key=mod_5),
    sep='\n',
)

Which number is biggest?
100
Which number is the biggest modulo 5?
14

In [5]:
help(mod_5)

Help on function mod_5 in module __main__:

mod_5(x)
    Return the remainder of x after dividing by 5

## Lists

Lists in Python represent ordered sequences of values. Here is an example of how to create them

In [48]:
primes = [2, 3, 5, 7]
primes

[2, 3, 5, 7]

We can put other types of things in lists:

In [56]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

We can even make a list of lists:

In [51]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]
hands

[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

A list can contain a mix of different types of variables

#### Indexing

You can access individual list elements with square brackets.

Which planet is closest to the sun? Python uses zero-based indexing, so the first element has index 0.

In [10]:
planets[0]

'Mercury'

What's the next closest planet?

In [11]:
planets[1]

'Venus'

Which planet is furthest from the sun?

Elements at the end of the list can be accessed with negative numbers, starting from -1:

In [52]:
planets[-1]

'Neptune'

##### Slicing

What are the first three planets? We can answer this question using slicing

In [13]:
planets[0:3]

['Mercury', 'Venus', 'Earth']

planets[0:3] is our way of asking for the elements of planets starting from index 0 and continuing up to but not including index 3.

The starting and ending indices are both optional. If I leave out the start index, it's assumed to be 0. So I could rewrite the expression above as:

In [14]:
planets[:3]

['Mercury', 'Venus', 'Earth']

If I leave out the end index, it's assumed to be the length of the list.

In [15]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

i.e. the expression above means "give me all the planets from index 3 onward".

We can also use negative indices when slicing:

In [16]:
# All the planets except the first and last
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [17]:
# The last 3 planets
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

#### Changing lists

Lists are "mutable", meaning they can be modified "in place".

One way to modify a list is to assign to an index or slice expression.

For example, let's say we want to rename Mars:

In [57]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [58]:
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

Let's compensate by shortening the names of the first 3 planets.

In [19]:
planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)

['Mur', 'Vee', 'Ur', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [59]:
#  Let's give them back their old names
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]

#### List functions
Python has several useful functions for working with lists.

len gives the length of a list:

In [22]:
# How many planets are there?
len(planets)

8

sorted returns a sorted version of a list:

In [24]:
# The planets sorted in alphabetical order
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

sum does what you might expect:

In [25]:
primes = [2, 3, 5, 7]
sum(primes)

17

We've previously used the min and max to get the minimum or maximum of several arguments. But we can also pass in a single list argument.

In [26]:
max(primes)

7

#### List methods
list.append modifies a list by adding an item to the end:

In [27]:
# Pluto is a planet!
planets.append('Pluto')
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

list.pop removes and returns the last element of a list:

In [28]:
planets.pop()

'Pluto'

In [29]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

#### Searching lists
Where does Earth fall in the order of planets? We can get its index using the list.index method.

In [30]:
planets.index('Earth')

2

It comes third (i.e. at index 2 - 0 indexing!).

At what index does Pluto occur?

In [31]:
planets.index('Pluto')

ValueError: 'Pluto' is not in list

Oh, that's right...

To avoid unpleasant surprises like this, we can use the in operator to determine whether a list contains a particular value:

In [32]:
# Is Earth a planet?
"Earth" in planets

True

In [33]:
# Is Calbefraques a planet?
"Colin" in planets

False

### Tuples

Tuples are almost exactly the same as lists. They differ in just two ways.

1: The syntax for creating them uses parentheses instead of square brackets

In [35]:
t = (1, 2, 3)

In [36]:
t = 1, 2, 3 # equivalent to above
t

(1, 2, 3)

2: They cannot be modified (they are immutable).

In [37]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

## Dictionaries

Dictionaries are a built-in Python data structure for mapping keys to values.

In [38]:
numbers = {'one':1, 'two':2, 'three':3}

In this case 'one', 'two', and 'three' are the keys, and 1, 2 and 3 are their corresponding values.

Values are accessed via square bracket syntax similar to indexing into lists and strings.

In [60]:
numbers['three']

3

We can use the same syntax to add another key, value pair

In [6]:
numbers['eleven'] = 11
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

Or to change the value associated with an existing key

In [61]:
numbers['one'] = 0.1
numbers

{'one': 0.1, 'two': 2, 'three': 3}

A for loop over a dictionary will loop over its keys

In [8]:
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = Pluto
two = 2
three = 3
eleven = 11